<footer class="footer fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <a href="https://www.brandsouthaustralia.com.au/">
                <img class="img-responsive brandsa" 
                     src="~/images/bsa.svg" 
                     alt="BrandSA brand mark" />
                </a>
            </div>
            <div class="col-2">
                <a href="https://www.brandsouthaustralia.com.au/i-choose-sa/">
                <img class="img-responsive choosesa" 
                     src="~/images/ChooseSA.jpg" 
                     alt="I Choose SA brand mark" />
                </a>
            </div>
            <div class="col-8">
                <p>&copy; @DateTime.Now.Year Paul Burger and Associated Brokers Pty Ltd</p>
            </div>
        </div>
    </div>
</footer>