<div class="contact-details">
    <div class="row">
        <div class="col contact-label">Skype</div>
        <div class="col contact-data">pburger56</div>
    </div>
    <div class="row">
        <div class="col contact-label">Wechat</div>
        <div class="col contact-data">pburger56</div>
    </div>

    <div class="row">
        <div class="col contact-label">Mobile</div>
        <div class="col contact-data">+61405739305</div>
    </div>
    <div class="row">
        <div class="col contact-label">WhatsApp</div>
        <div class="col contact-data">+61405739305</div>
    </div>

    <div class="row">
        <div class="col contact-address">
            Unit 80 10 Marion Road<br />Brooklyn Park SA 5032
        </div>
    </div>

    <div class="row">
        <div class="col contact-link">
            Visit our portal <a href="https://paulburger.trustpass.alibaba.com/">Alibaba</a>
        </div>
    </div>
</div>