<div id="myCarousel" class="carousel-fade" data-ride="carousel" data-interval="6000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/Products/accessories/025.jpg" alt="Image of wine bottler opener" />
        </div>
        <div class="carousel-item">
            <img src="~/images/Products/wine/000.jpg" alt="Image of Mirabella brandy bottle" />
        </div>
        <div class="carousel-item">
            <img src="~/images/Products/copper/scrap ship 2.jpeg" alt="Image of ship used for scrap metal" />
        </div>
        <div class="carousel-item">
            <img src="~/images/Products/sunscreen/SS 1L_.jpg" alt="Image of 1 litre pump dispening container of sunscreen cream" />
        </div>
    </div>
</div>