<div class="body-panel">
    <div class="row">
        <div class="col-4">
            <partial name="~/Views/Shared/Carousel/_Index.cshtml" />
        </div>
        <div class="col-8">
            <partial name="~/Views/Shared/Jumbo/_Index.cshtml" />
        </div>
    </div>
</div>
