<div class="jumbotron jumbo">
    <p class="first-para">As experienced negoitators, we understand the markets and respect cultural diversity.</p>
    <p>We work with export accredited suppliers who provide premium products at highly competitive prices.</p>
    <p>We provide a personal service backed by our sincere and steadfast determination to grow your business.</p>
    <p>We aim to supply correct and timely advice, delivered anywhere in the world.</p>
    <p>With an international network we can quickly source a wide range of products.</p>
</div>