<div class="jumbotron jumbo">
    <p class="first-para">We are a South Australian firm of brokers with an international network of associates and suppliers. We believe genuine international business requires honesty and reliability.</p>
    <p>Our mission is <i>building big business</i> and that includes your business. Our goal is to help you locate business partners and opportunities.</p>
    <p>We promise to deliver a premium service based on first-class business solutions.</p>
    <p>We never compromise our integrity and always put people first.</p>
    <p>&nbsp;</p>
</div>
