<div class="jumbotron jumbo">
    <div class="row">
        <div class="col">
            <div class="product-heading">
                Some of our suppliers' products
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="product">
                <ul>
                    <lh>Meat</lh>
                    <li><a target="_blank" href="https://paulburger.trustpass.alibaba.com/product/50035368213-231035331/Australian_Beef_Halal_grass_fed_premium_Beef.html">Beef</a></li>
                    <li><a target="_blank" href="https://paulburger.trustpass.alibaba.com/product/50040880857-231035331/High_quality_frozen_chicken_meat_all_cuts_Halal_or_Haram.html">Chicken</a></li>
                    <li><a target="_blank" href="https://paulburger.trustpass.alibaba.com/product/50034733039-231035331/Wild_caught_Kangaroo_meat_healthy_tender_and_tasty.html">Kangaroo Meat</a></li>
                    <li><a target="_blank" href="https://paulburger.trustpass.alibaba.com/product/50035021118-231035331/Australian_Lamb_premium_grass_fed_lamb_frozen_or_chilled.html">Lamb</a></li>
                    <li><a target="_blank" href="https://paulburger.trustpass.alibaba.com/product/50040016050-231554423/Salted_Buffalo_Omassum.html">Omassum</a></li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="product">
                <ul>
                    <lh>Alcohol</lh>
                    <li><a target="_blank" href="https://paulburger.trustpass.alibaba.com/product/50032190968-231061222/Mirabella_Shiraz_dry_red_table_wine.html">Bottled Wines</a></li>
                    <li><a target="_blank" href="https://paulburger.trustpass.alibaba.com/product/50034313284-231525117/Quality_bulk_wine_red_and_white_table_wine.html">Bulk wines</a></li>
                    <li><a target="_blank" href="https://paulburger.trustpass.alibaba.com/product/50035138718-231097519/Mirabella_traditionally_distilled_premium_Brandy.html">Brandy</a></li>
                    <li><a target="_blank" href="https://paulburger.trustpass.alibaba.com/product/50035467495-231097519/Mirabella_premium_Australian_Green_Apple_flavored_vodka.html">Flavored vodka</a></li>
                    <li><a target="_blank" href="https://paulburger.trustpass.alibaba.com/product/50039852845-231441517/Electric_Wine_Opener.html">Wine accessories</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="product">
                <ul>
                    <lh>Seafood</lh>
                    <li><a target="_blank" href="https://paulburger.trustpass.alibaba.com/product/50036166121-230923061/Frozen_Black_Tiger_Prawns_Penaeus_monodon_BT_HOSO.html">Tiger Prawns</a></li>
                    <li><a target="_blank" href="https://paulburger.trustpass.alibaba.com/product/50034466576-231053537/Murray_Cod_high_quality_whole_Australian_fish.html">Murray Cod</a></li>
                    <li><a target="_blank" href="https://paulburger.trustpass.alibaba.com/product/50036391360-230923061/Whole_Frozen_Argentine_Red_Shrimp_Pleoticus_mulleri_.html">Red Shrimps</a></li>
                    <li><a target="_blank" href="https://paulburger.trustpass.alibaba.com/product/50035897933-231504417/Live_Mud_Crab.html">Live mud crabs</a></li>
                    <li><a target="_blank" href="https://paulburger.trustpass.alibaba.com/product/50036057611-231453956/Live_lobster_for_sale.html">Live Lobsters</a></li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="product">
                <ul>
                    <lh>Misc</lh>
                    <li><a target="_blank" href="https://paulburger.trustpass.alibaba.com/product/50037219226-231118632/Winmax_9v_Digital_Akaline_Batteries_Carton_.html">Batteries</a></li>
                    <li><a target="_blank" href="https://paulburger.trustpass.alibaba.com/product/50039261472-231606208/High_quality_Chinese_dried_fuit.html">Dried fruit</a></li>
                    <li><a target="_blank" href="https://paulburger.trustpass.alibaba.com/product/50037605427-231319323/Copper_Wire_Scrap_99_99_.html">Copper</a></li>
                    <li><a target="_blank" href="https://paulburger.trustpass.alibaba.com/product/50037296145-231310148/Red_White_Black_Tri_color_Quinoa.html">Quinoa</a></li>
                    <li><a target="_blank" href="https://paulburger.trustpass.alibaba.com/product/50037713029-231504878/Brazilian_ICUMSA45_Sugar.html">Sugar</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>