<div class="jumbotron jumbo">
    <div class="sitemap">
        <ul>
            <lh>Site map</lh>
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="Home" asp-action="About">About us</a></li>
            <li><a asp-controller="Home" asp-action="Contact">Contact us</a></li>
            <li><a asp-controller="Home" asp-action="Products">Products</a></li>
            <li><a asp-controller="Home" asp-action="Resources">Resources</a></li>
            <li><a asp-controller="Home" asp-action="Sitemap">Site Map</a></li>
        </ul>
    </div>
</div>