<div class="container jumbotron jumbo">
    <div class="row">
        <div class="col-md-12 text-center link-warning">
            Some of our suppliers' products
        </div>
    </div>

    <div class="row product-row">
        <div class="col-md-4 text-center">
            <a target="_blank" href="https://www.alibaba.com/product-detail/Cocoa-Beans_50037429283.html">
                <img src="https://sc01.alicdn.com/kf/UTB89HXIxtoSdeJk43Owq6ya4XXas/Cocoa-Beans.jpg_100x100.jpg" class="rounded img-responsive center-block">
            </a>
        </div>
        <div class="col-md-4 text-center">            
                <a target="_blank" href="https://www.alibaba.com/product-detail/Brazilian-ICUMSA45-Sugar_50037713029.html">
                    <img src="https://sc01.alicdn.com/kf/UTB8Z5DGxODEXKJk43Oqq6Az3XXaM/Brazilian-ICUMSA45-Sugar.jpg_100x100.jpg" class="rounded img-responsive center-block">
                </a>
            </div>
        <div class="col-md-4 text-center">
            <a target="_blank" href="https://www.alibaba.com/product-detail/Copper-Wire-Scrap-99-99-_50037605427.html">
                <img src="https://sc02.alicdn.com/kf/UTB8h2GismnEXKJk43Ub762LppXaP/Copper-Wire-Scrap-99-99-.png_100x100.png" class="rounded img-responsive center-block">
            </a>
        </div>
        </div>
    <div class="row">
        <div class="col-md-4 text-center product-label">
            Cocoa
        </div>
        <div class="col-md-4 text-center product-label">
            Sugar
        </div>
        <div class="col-md-4 text-center product-label">
            Copper
        </div>
    </div>
    <div class="row product-row">
        <div class="col-md-4 text-center">
            <a target="_blank" href="https://www.alibaba.com/product-detail/Australian-white-wine-Top-quality-Australian_50034304457.html">
                <img src="https://sc01.alicdn.com/kf/UTB8bdzCtyDEXKJk43Oqq6Az3XXaD/Australian-white-wine-Top-quality-Australian-white.jpg_100x100.jpg" class="rounded img-responsive center-block">
            </a>
        </div>
        <div class="col-md-4 text-center">
            <a target="_blank" href="https://www.alibaba.com/product-detail/Electric-Wine-Opener_50039852845.html">
                <img src="https://sc02.alicdn.com/kf/UTB8bY4QvGrFXKJk43Ovq6ybnpXaO/Electric-Wine-Opener.jpg_100x100.jpg" class="rounded img-responsive center-block">
            </a>
        </div>
        <div class="col-md-4 text-center">
            <a target="_blank" href="https://www.alibaba.com/product-detail/Quality-bulk-wine-red-and-white_50034313284.html">
                <img src="https://sc02.alicdn.com/kf/UTB89TttsOaMiuJk43PTq6ySmXXax/Quality-bulk-wine-red-and-white-table.jpg_100x100.jpg" class="rounded img-responsive center-block">
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 text-center product-label">
            Wine
        </div>
        <div class="col-md-4 text-center product-label">
            Accessories
        </div>
        <div class="col-md-4 text-center product-label">
            Bulk wine
        </div>
    </div>

    <div class="row product-row">
        <div class="col-md-4 text-center">
            <a target="_blank" href="https://www.alibaba.com/product-detail/Australian-Lamb-premium-grass-fed-lamb_50035021118.html">
                <img src="https://sc01.alicdn.com/kf/UTB8sQw7rWrFXKJk43Ovq6ybnpXaO/Australian-Lamb-premium-grass-fed-lamb-frozen.jpg_100x100.jpg" class="rounded img-responsive center-block">
            </a>
        </div>
        <div class="col-md-4 text-center">
            <a target="_blank" href="https://www.alibaba.com/product-detail/Live-Mud-Crab_50035897933.html">
                <img src="https://sc02.alicdn.com/kf/UTB8hMSJv3QydeJk43PUq6AyQpXaI/Live-Mud-Crab.jpg_100x100.jpg" class="rounded img-responsive center-block">
            </a>
        </div>
        <div class="col-md-4 text-center">
            <a target="_blank" href="https://www.alibaba.com/product-detail/Australian-Beef-Halal-grass-fed-premium_50035368213.html">
                <img src="https://sc01.alicdn.com/kf/UTB8o.AasyaMiuJk43PTq6ySmXXaI/Australian-Beef-Halal-grass-fed-premium-Beef.jpg_100x100.jpg" class="rounded img-responsive center-block">
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 text-center product-label">
            Lamb
        </div>
        <div class="col-md-4 text-center product-label">
            Crabs
        </div>
        <div class="col-md-4 text-center product-label">
            Beef
        </div>
    </div>
</div>
